<%- include("partials/header.ejs"); %>
<body>
    <%- include("partials/nav-bar.ejs"); %>

    <div class="container">
        <div class="perguntas">
            <h1>Perguntas</h1>
            <a href="/perguntar" class="btn btn-dark mt-3">Perguntar</a>
        </div>

        <% perguntas.forEach(pergunta => { %>
            <div class="card card-style">
                <div class="card-body">
                    <h4><%= pergunta.titulo %></h4>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
                </div>
            </div>

        <% }) %>
    </div>

    
<%- include("partials/footer.ejs"); %>
</body>